* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#graph{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wizard {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#general_attributes {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
